@model dynamic

<div class="container mt-4">

    <h2>Thêm bài viết</h2>

    <form method="post">

        <input name="title"
               class="form-control mb-2"
               placeholder="Tiêu đề" />

        <textarea name="content"
                  class="form-control mb-2"
                  rows="5"
                  placeholder="Nội dung"></textarea>

        <input name="imageUrl"
               class="form-control mb-2"
               placeholder="Link hình ảnh" />

        <button class="btn btn-success">Thêm</button>

    </form>

</div>