<div class="container mt-4">

    <h2>Thêm bác sĩ</h2>

    <form method="post">

        <input name="name" class="form-control mb-2" placeholder="Tên bác sĩ" />

        <input name="speciality" class="form-control mb-2" placeholder="Chuyên khoa" />

        <input name="experience" class="form-control mb-2" placeholder="Kinh nghiệm" />

        <textarea name="description" class="form-control mb-2" placeholder="Mô tả"></textarea>

        <input name="imageUrl" class="form-control mb-2" placeholder="Link ảnh" />

        <button class="btn btn-success">Thêm</button>

    </form>

</div>