<h2>Danh sách bác sĩ</h2>

<ul>
    <li>
        <a asp-controller="Doctor" asp-action="Detail" asp-route-id="1">
            BS. Nguyễn Văn A
        </a>
    </li>

    <li>
        <a asp-controller="Doctor" asp-action="Detail" asp-route-id="2">
            BS. Trần Thị B
        </a>
    </li>
</ul>