<div class="container mt-4">

    <h2>Thêm dịch vụ</h2>

    <form method="post">

        <input name="name" class="form-control mb-2" placeholder="Tên dịch vụ" />

        <input name="price" type="number" class="form-control mb-2" placeholder="Giá" />

        <textarea name="description" class="form-control mb-2" placeholder="Mô tả"></textarea>
        <input name="imageUrl" class="form-control mb-2" placeholder="Link hình ảnh" />

        <button class="btn btn-success">Thêm</button>

    </form>

</div>