<h2>Danh sách dịch vụ</h2>

<ul>
    <li>
        <a asp-controller="Service" asp-action="Detail" asp-route-id="1">
            Khám tổng quát
        </a>
    </li>

    <li>
        <a asp-controller="Service" asp-action="Detail" asp-route-id="2">
            Tiêm phòng
        </a>
    </li>

    <li>
        <a asp-controller="Service" asp-action="Detail" asp-route-id="3">
            Phẫu thuật
        </a>
    </li>
</ul>