
CREATE DATABASE [PETC_DB]
GO

USE [PETC_DB]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 5/10/2026 9:54:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[DoctorID] [int] NULL,
	[PetID] [int] NULL,
	[ServiceID] [int] NULL,
	[Date] [date] NULL,
	[Time] [nvarchar](20) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClinicInfo]    Script Date: 5/10/2026 9:54:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[ImageUrl] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 5/10/2026 9:54:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[DoctorID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Speciality] [nvarchar](100) NULL,
	[Experience] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pet]    Script Date: 5/10/2026 9:54:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pet](
	[PetID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[PetName] [nvarchar](100) NULL,
	[Type] [nvarchar](50) NULL,
	[Age] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 5/10/2026 9:54:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Content] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 5/10/2026 9:54:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](100) NULL,
	[Price] [decimal](10, 2) NULL,
	[Description] [nvarchar](255) NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/10/2026 9:54:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
	[Role] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointment] ON 

INSERT [dbo].[Appointment] ([AppointmentID], [UserID], [DoctorID], [PetID], [ServiceID], [Date], [Time], [Status]) VALUES (1, 1, 1, NULL, 2, CAST(N'2026-04-25' AS Date), N'10:00', NULL)
INSERT [dbo].[Appointment] ([AppointmentID], [UserID], [DoctorID], [PetID], [ServiceID], [Date], [Time], [Status]) VALUES (2, 1, 1, 1, 1, CAST(N'2026-04-21' AS Date), N'09:00', N'Cancel')
INSERT [dbo].[Appointment] ([AppointmentID], [UserID], [DoctorID], [PetID], [ServiceID], [Date], [Time], [Status]) VALUES (3, 1, 1, 1, 2, CAST(N'2026-04-22' AS Date), N'15:00', N'Confirmed')
SET IDENTITY_INSERT [dbo].[Appointment] OFF
GO
SET IDENTITY_INSERT [dbo].[ClinicInfo] ON 

INSERT [dbo].[ClinicInfo] ([Id], [Name], [Description], [Address], [Phone], [Email], [ImageUrl]) VALUES (1, N'Phòng khám thú y PETC', N'PETC cung cấp dịch vụ chăm sóc thú cưng toàn diện với đội ngũ bác sĩ chuyên nghiệp.', N'123 Nguyễn Văn A, TP.HCM', N'0909123459', N'petc@gmail.com', N'/images/banner.jpg')
SET IDENTITY_INSERT [dbo].[ClinicInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctor] ON 

INSERT [dbo].[Doctor] ([DoctorID], [Name], [Speciality], [Experience], [Description], [ImageUrl], [Status]) VALUES (1, N'BS. Nguyễn Văn A', N'Thú y tổng quát', 5, N'Bác sĩ chuyên khám tổng quát, nhiều kinh nghiệm với chó
        
        ', N'/images/NguyenVanA.jpg', N'Active')
INSERT [dbo].[Doctor] ([DoctorID], [Name], [Speciality], [Experience], [Description], [ImageUrl], [Status]) VALUES (2, N'BS. Trần Thị B', N'Phẫu thuật thú y', 8, N'Bác sĩ chuyên phẫu thuật, nhiều kinh nghiệm với chó mèo, bl blabla bla', N'/images/TranThiB.jpg', N'Active')
INSERT [dbo].[Doctor] ([DoctorID], [Name], [Speciality], [Experience], [Description], [ImageUrl], [Status]) VALUES (3, N'BS. Lê Văn C', N'Da liễu thú cưng', 4, N'Bác sĩ chuyên khám da liễu, nhiều kinh nghiệm với chó mèo', N'/images/LeVanC.jpg', N'Active')
SET IDENTITY_INSERT [dbo].[Doctor] OFF
GO
SET IDENTITY_INSERT [dbo].[Pet] ON 

INSERT [dbo].[Pet] ([PetID], [UserID], [PetName], [Type], [Age]) VALUES (1, 1, N'Sammy', N'Chó', 1)
INSERT [dbo].[Pet] ([PetID], [UserID], [PetName], [Type], [Age]) VALUES (2, 1, N'Tommy', N'Mèo', 1)
INSERT [dbo].[Pet] ([PetID], [UserID], [PetName], [Type], [Age]) VALUES (3, 3, N'MeoMeo', N'Mèo', 1)
SET IDENTITY_INSERT [dbo].[Pet] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

INSERT [dbo].[Post] ([PostID], [Title], [Content], [ImageUrl], [Status]) VALUES (1, N'Cách chăm sóc chó con đúng cách', N'Chó con cần được chăm sóc kỹ lưỡng về dinh dưỡng, môi trường sống và tiêm phòng. Chủ nuôi nên cung cấp thức ăn phù hợp, giữ vệ sinh nơi ở và đưa thú cưng đi khám định kỳ.', N'/images/Chamsochocon.jpg', N'Active')
INSERT [dbo].[Post] ([PostID], [Title], [Content], [ImageUrl], [Status]) VALUES (2, N'Lịch tiêm phòng cho mèo bạn cần biết', N'Tiêm phòng giúp mèo phòng tránh các bệnh nguy hiểm như dại, giảm bạch cầu. Chủ nuôi nên đưa mèo đi tiêm đúng lịch và theo dõi sức khỏe sau tiêm.', N'/images/Lichtiemphongchomeo.jpg', N'Active')
INSERT [dbo].[Post] ([PostID], [Title], [Content], [ImageUrl], [Status]) VALUES (3, N'Dinh dưỡng hợp lý cho thú cưng', N'Chế độ ăn uống cân bằng giúp thú cưng phát triển khỏe mạnh. Nên lựa chọn thức ăn chất lượng và phù hợp với từng độ tuổi của vật nuôi.', N'/images/Dinhduonghoply.jpg', N'Active')
SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([ServiceID], [ServiceName], [Price], [Description], [ImageUrl], [Status]) VALUES (1, N'Khám tổng quát', CAST(100000.00 AS Decimal(10, 2)), N'Khám sức khỏe tổng quát cho thú cưng', N'/images/khamtongquat.jpg', N'Active')
INSERT [dbo].[Service] ([ServiceID], [ServiceName], [Price], [Description], [ImageUrl], [Status]) VALUES (2, N'Tiêm phòng', CAST(150000.00 AS Decimal(10, 2)), N'Tiêm vaccine phòng bệnh', N'/images/tiemphong.jpg', N'Active')
INSERT [dbo].[Service] ([ServiceID], [ServiceName], [Price], [Description], [ImageUrl], [Status]) VALUES (3, N'Tắm rửa', CAST(80000.00 AS Decimal(10, 2)), N'Dịch vụ vệ sinh thú cưng', N'/images/tamrua.jpg', N'Active')
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Name], [Email], [Password], [Role]) VALUES (1, N'Nguyễn Văn Test', N'test@gmail.com', N'123456', N'User')
INSERT [dbo].[User] ([UserID], [Name], [Email], [Password], [Role]) VALUES (2, N'Admin PETC', N'admin@gmail.com', N'admin123', N'Admin')
INSERT [dbo].[User] ([UserID], [Name], [Email], [Password], [Role]) VALUES (3, N'Duyen Xinh Dep', N'duyenxinhdep.@gmail.com', N'qưerty', N'User')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Doctor] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Post] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Service] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctor] ([DoctorID])
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD FOREIGN KEY([PetID])
REFERENCES [dbo].[Pet] ([PetID])
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ServiceID])
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
